*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer
{
    background-color: black;
    text-align: center;
}

header
{
    background-color: lightgray;
    height: 80px;
}

.leftColumn
{
    width: 25%;
    display: table-cell
}
.blockContent
{
    background-color: #C8FC98;
    height: fit-content;
}
.rightColumn
{
    background-color: #FDE95E;
    display: table-cell;
    width: 200px;
}

.content
{
    display: table;
}
.contentPaddig
{
    padding: 5px;
}