*
{
    padding: 0;
    margin: 0;
}

footer
{
    background-color: black;
    text-align: center;
}

header
{
    background-color: lightgray;
    height: 80px;
}

.leftColumn
{
    background-color: #C8FC98;
    flex: 0 0 25%;
    height: fit-content;

}

.rightColumn
{
    background-color: #FDE95E;
    flex: 0 0 200px;
}

.content
{
    display: flex;
    flex-direction: row;
}
.contentPaddig
{
    padding: 5px;
}